<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-data-heading" data-cy="DataCreateUpdateHeading">Create or edit a Data</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tipoData">Tipo Data</label>
          <select class="form-control" id="field_tipoData" data-cy="tipoData" name="tipoData" formControlName="tipoData">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="tipoDataOption.id === editForm.get('tipoData')!.value?.id ? editForm.get('tipoData')!.value : tipoDataOption"
              *ngFor="let tipoDataOption of tipoDataCollection; trackBy: trackTipoDataById"
            >
              {{ tipoDataOption.descricao }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_processo">Processo</label>
          <select class="form-control" id="field_processo" data-cy="processo" name="processo" formControlName="processo">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="processoOption.id === editForm.get('processo')!.value?.id ? editForm.get('processo')!.value : processoOption"
              *ngFor="let processoOption of processosSharedCollection; trackBy: trackProcessoById"
            >
              {{ processoOption.oficio }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
