<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fundamentacao-legal-heading" data-cy="FundamentacaoLegalCreateUpdateHeading">Create or edit a Fundamentacao Legal</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fundamentacaoLegal">Fundamentacao Legal</label>
          <textarea
            class="form-control"
            name="fundamentacaoLegal"
            id="field_fundamentacaoLegal"
            data-cy="fundamentacaoLegal"
            formControlName="fundamentacaoLegal"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_folhasFundamentacaoLegal">Folhas Fundamentacao Legal</label>
          <input
            type="text"
            class="form-control"
            name="folhasFundamentacaoLegal"
            id="field_folhasFundamentacaoLegal"
            data-cy="folhasFundamentacaoLegal"
            formControlName="folhasFundamentacaoLegal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fundamentacaoLegalSugerida">Fundamentacao Legal Sugerida</label>
          <textarea
            class="form-control"
            name="fundamentacaoLegalSugerida"
            id="field_fundamentacaoLegalSugerida"
            data-cy="fundamentacaoLegalSugerida"
            formControlName="fundamentacaoLegalSugerida"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
