<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="terraIndigena">
      <h2 data-cy="terraIndigenaDetailsHeading"><span>Terra Indigena</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ terraIndigena.id }}</span>
        </dd>
        <dt><span>Descricao</span></dt>
        <dd>
          <span>{{ terraIndigena.descricao }}</span>
        </dd>
        <dt><span>Etnia</span></dt>
        <dd>
          <span *ngFor="let etnia of terraIndigena.etnias; let last = last">
            <a [routerLink]="['/etnia-indigena', etnia?.id, 'view']">{{ etnia.nome }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/terra-indigena', terraIndigena.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
