<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-instrumento-internacional-heading" data-cy="InstrumentoInternacionalCreateUpdateHeading">
        Create or edit a Instrumento Internacional
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_instrumentoInternacionalCitadoDescricao">Instrumento Internacional Citado Descricao</label>
          <textarea
            class="form-control"
            name="instrumentoInternacionalCitadoDescricao"
            id="field_instrumentoInternacionalCitadoDescricao"
            data-cy="instrumentoInternacionalCitadoDescricao"
            formControlName="instrumentoInternacionalCitadoDescricao"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_folhasInstrumentoInternacional">Folhas Instrumento Internacional</label>
          <input
            type="text"
            class="form-control"
            name="folhasInstrumentoInternacional"
            id="field_folhasInstrumentoInternacional"
            data-cy="folhasInstrumentoInternacional"
            formControlName="folhasInstrumentoInternacional"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_instrumentoInternacionalSugerido">Instrumento Internacional Sugerido</label>
          <textarea
            class="form-control"
            name="instrumentoInternacionalSugerido"
            id="field_instrumentoInternacionalSugerido"
            data-cy="instrumentoInternacionalSugerido"
            formControlName="instrumentoInternacionalSugerido"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
