<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-municipio-heading" data-cy="MunicipioCreateUpdateHeading">Create or edit a Municipio</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_amazoniaLegal">Amazonia Legal</label>
          <input
            type="checkbox"
            class="form-check"
            name="amazoniaLegal"
            id="field_amazoniaLegal"
            data-cy="amazoniaLegal"
            formControlName="amazoniaLegal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_codigoIbge">Codigo Ibge</label>
          <input
            type="number"
            class="form-control"
            name="codigoIbge"
            id="field_codigoIbge"
            data-cy="codigoIbge"
            formControlName="codigoIbge"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
