<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="municipio">
      <h2 data-cy="municipioDetailsHeading"><span>Municipio</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ municipio.id }}</span>
        </dd>
        <dt><span>Amazonia Legal</span></dt>
        <dd>
          <span>{{ municipio.amazoniaLegal }}</span>
        </dd>
        <dt><span>Codigo Ibge</span></dt>
        <dd>
          <span>{{ municipio.codigoIbge }}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
          <span>{{ municipio.estado }}</span>
        </dd>
        <dt><span>Nome</span></dt>
        <dd>
          <span>{{ municipio.nome }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/municipio', municipio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
